

.exp{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 400px;
    width: 100%;
}


.cap{
    padding: 150px;

}

.expert{
    padding: 50px;
    margin-right: 120px;
  
}

.expert button{
    height: 50px;
    width: 150px;
    margin: 25px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;

}
.expert p{
    margin-left: 20px;
}

